* {
  margin: 0%;
  padding: 0%;
}

.Gamecontainer {
  min-height: 100vh;
  width: 100%;
  display: grid;
  background-color: #15b097;
}

.Gamemain {
  justify-self: center;
  width: 50%;
}

.Gameheader {
  display: grid;
  width: 100%;
  height: 100%;
  grid-template-columns: 60% 40%;
  grid-template-rows: 1fr;
}

.Gameplay {
  display: grid;
  width: 100%;
  height: 100%;
  justify-items: center;
  align-items: center;
}

.Gameplayground {
  display: grid;
  width: 100%;
  height: 100%;
  justify-content: center;
  align-content: center;
  grid-template-columns: repeat(3, 33.33%);
  grid-template-rows: repeat(3, 33.33%);
  grid-gap: 2%;
  background-color: rgba(0, 0, 0, 0.3);
}

.Gameplayground > div {
  background-color: #0cce6b;
  cursor: pointer;
}

.Gamemain-table {
  display: grid;
  min-height: 100%;
  width: 100%;
  grid-template-columns: 1fr;
  grid-template-rows: 15% 70% 15%;
}

@media (max-width: 770px) {
  .Gamemain {
    width: 70%;
  }
}

@media (max-width: 500px) {
  .Gamemain {
    width: 100%;
  }
}
